* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 39, 39);
}

#box {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 30rem;
    padding: 2rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border-radius: 8px;

}
.title {
    font-size: 2rem;
}
.row {
    display: flex;
    flex-direction: row;
}
.button {
    margin-top: 1rem; 
}
#chatView {
    width: 20rem;
    height: 15rem;
    background-color: rgb(201, 200, 200);
    border-radius: 8px;
    padding: 1rem;
    overflow-y: scroll;

    font-size: 0.8rem;
}
.name {
    color: green;
}
